---

layout: layout

title: A Bit Wordsy

description: "description"

---

<header>
    <hr>
    <h1>Welcome to <span class="blog">{% blog %}</span></h1>
    <hr>
</header>

<div id="lists">

    <section>

        <hr>
        <h2>Reviews</h2>
        <hr>

        <div class="list">

            {% for article in collections.home reversed %}
                <article>
                   
                    <hr>
                    
                    <p><time datetime="{{ article.data.date | datetime }}">{{ article.data.date | friendly }}</time></p>
                    
                    <h2><a href="{{ article.url }}">{{ article.data.title }}</a></h2>
                    
                    <hr>
                    
                </article>
            {% endfor %}

        </div>

    </section>

    <section>

        <hr>
        <h2>Fiction</h2>
        <hr>

        <div class="list">

            {% for article in collections.book-reviews reversed %}
                <article>
                   
                    <hr>
                    
                    <p><time datetime="{{ article.data.date | datetime }}">{{ article.data.date | friendly }}</time></p>
                    
                    <h2><a href="{{ article.url }}">{{ article.data.title }}</a></h2>
                    
                    <hr>
                    
                </article>
            {% endfor %}

        </div>

    </section>

</div>